# ignore all images
*.png

# ignore all json in data folder
data/*

# all logs
*.logs

# igore everything in temp 
temp/*

# notebook checkpoints
.ipynb_checkpoints

# all deb 
*.deb

# doc formats
*.doc
*.docx

# pycahce
*/__pycache__/*