<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>{{ title }}</title>
    <style>
				h3 {
					text-align:center;
					font-size:14px;
					width: fit-content;
				}

				p{
					font-size: 14pt;
				}
				
    </style>
</head>


<body>
	
		<!-- Random stuff -->
		<div class="container">
			<div class="text-center">
				{% for table in tables %}
				<p> {{ table["text"]}}</p>
					<h3> {{ table["header"] }}</h3>
						{{ table["table"] |safe }}
				{% endfor %}
				<p> {{ close }}</p>
			</div>
		</div>
</body>
</html>
